
/* ----------- ESTILOS INDEX HTML ----------- */

.fondoMainIndex {
    background-image: url("../images/fondo-lavarropas-ajustado.png");
    background-repeat: no-repeat;
    background-color: $GrisGarantia;
    background-size: cover;
}



.primeraSeccion {
    display: grid;

    grid-template:
        "title"auto 
        "lista"1fr 
        "boton"2fr;
    place-items: center center;

    @media(min-width:803px) {
        grid-template:
            "title" auto
            "lista" auto
            "boton" auto;
        gap: 10px 15px;
        margin: 0 15% 0 15%;
    }

}

.h1Main {
    grid-area: title;
        font-size: 1.65rem;

    @media(min-width:419px){
        font-size: 1.8rem;     
    }  
    
    @media(min-width:438px){
        font-size: 1.9rem;     
    }
    
    @media(min-width:458px){
        font-size: 2rem;     
    }

    @media(min-width:477px){
        font-size: 2.1rem;     
    }

    @media(min-width:498px){
        font-size: 2.2rem;     
    }

    @media(min-width:556px){
        font-size: 2.5rem;
    }
}
.primeraSeccion__div {
    grid-area: lista;
    margin-left: 8%;
}

.primeraSeccion__div__lista {
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    align-self: center;

    li{
        list-style-type: circle;
        border: none;
        letter-spacing: 1px;
        line-height: 1.5;
        padding-bottom: 2%;
    }


    @media(min-width:350px) {
        font-size: 1.2rem;
    }

    @media(min-width:350px) {
        font-size: 1.2rem;
    }

    @media(min-width:380px) {
        font-size: 1.3rem;
    }

    @media(min-width:410px) {
        font-size: 1.4rem;
    }

    @media(min-width:500px) {    
        font-size: 1.5625rem;
    }


}



.primeraSeccion__div__form {


    border: none 0.25px $GrisFuente;
    background-color: $AzulDreanOP;
    border-radius: 20px;
    padding: 25px;
    grid-area: boton;
    margin: 20px 0 20px 0;
    width: 85vw;


    @media(min-width:803px) {
        width: 100%;
    }
}

.formtitle{
    text-align: center;
    font-size: 1.5rem;

    @media(min-width:556px) {
        font-size: 1.875rem;
    }

}

.emph{
    color: red;
}

.labelForm {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: $GrisFuente;
    font-weight: bold;
    align-self: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.botonForm {
    @include flexbox(flex, row, space-between, center);
    background-color: $AzulDrean;
    border-color: $AzulDrean;
}

.imgBotonForm {
    padding-left: 10px;
}

