/* ----------- REFERENCIAS HTML ----------- */

/* 
NOTAS:
En este punto incluí un grid system en una section con fines academicos, para aplicarlo en algun punto del proyecto. */

.mainReferencias {
    @include flexbox(flex, column, center, center);
    flex-wrap: wrap;
    background-color: $GrisGarantia;
    margin: 30px 7.5% 30px 7.5%;
    border-radius: 10px;

    @media(min-width: 900px) {
        background-image: url(../images/fondo-reseñas-opacity-3.png);
        background-size: cover;
    }

}

.refTitle {
    width: 95%;
}

.h2Referencias {
    text-align: center;
    border-bottom: 0.5px solid $GrisFuente;
    color: $GrisFuente;
    padding: 1.5%;
    font-size: 1.3rem;
    font-weight: bold;

    @media(min-width:605px) {
        font-size: 1.875rem;
    }
}


.refContainer {
    padding-bottom: 30px;
}

.col {
    flex: 0 0 0%;
    /* piso propiedad del CDN de bootstrap no deseada */
}


.anchorImg {
    border: 0.5px solid black;
    border-radius: 15px;
    padding: 0px 0px -1px 0px;
}



.imgReseñas {
    @extend .anchorImg;
    margin: 10px;
    padding: 0px;
    width: 200px;

    @media(min-width:410px) {
        width: 300px;
    }

    @media(min-width:500px) {    
        width: 350px;
    }

    @media(min-width:1225px) {
        width: 475px;
    }
}

