/* COLORES */

$AzulDrean: #025bac;
/*$AzulDrean: green;*/
$GrisFuente: #53585e;
$GrisGarantia: #e3e3e3;
$AzulGarantia: #002857;

/* Redondeo Imagenes */
$Redondeo: 10px; /* Practicamente lo dejo por lo academico, para aplicar una operacion *2 en el html de nosotros */

@mixin flexbox ($display, $direction, $justify, $align){
	display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
