@import "variables-mixins";

/* Estilos Secciones HTMLS */
@import "index";
@import "contacto";
@import "referencias";
@import "nosotros";
@import "reparaciones";

/* Importo las fuentes con las que se va a trabajar en el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300&display=swap');


/* Este archivo .SCSS contiene estilos generales aplicados a todos los html */

/* ----------- MEDIA QUERIES -----------  */
/* El objetivo fue que el sitio sea completamente responsive, en todos sus html a partir de un ancho de ventana de 300px */

* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #fdffff;

    line-height: normal;
    /*piso propiedad del CDN de bootstrap no deseada*/


}


/* ----------- TEXTO ----------- */

a {
    text-decoration: none;
    color: #fffefd;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;

    &:hover{
        color: #ade8f4;
        text-decoration: underline;
    }
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: $GrisFuente;
    padding: 30px;
    border-bottom: 1px solid $GrisFuente;
    margin: 0 5% 10px 5%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: $GrisFuente;
    font-size: 1.875rem;

}

h3 {
    @extend h2;
    font-size: 1.5625rem;
}

p {
    @extend h2;
    font-size: 1.25rem;
    margin: 0;
}


/* ----------- HEADER ----------- */


header {
    background-color: black;
    display: flex;
    justify-content: center;
    grid-area: header;

}

.pHeader {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 7px;
    margin: 0;
    height: 8px;

}

/* ----------- NAV BAR ----------- */

/*  Utilice 3 nav bar:
    - Las 2 primeras son programadas en css puro. Estan divididas en dos, una corresponde al logo y la otra a la lista de los enlaces.
    - Esto fue hecho asi por que en un principio se ubicaban, segun la grilla principal, una al lado de la otra cuando habia espacio disponible, y sino se ubicaban una encima de la otra (anchos menores).
    - La 3er nav es la implementada con bootstrap.
    - El funcionamiento final es alternar la visibilidad de las dos primeras con la de la tercera segun el ancho disponible. Las dos primeras terminan funcionando como una cuando el ancho disponible es suficiente para que se ubiquen en la misma fila de la grilla principal. Cuando no hay suficiente espacio, se ocultan y se muestra la 3era navbar con el menu hamburguesa.
*/

.navg {
    background-color: $AzulDrean;
    display: none;
    


    @media(min-width:992px) {
        @include flexbox(flex, row, space-around, normal);
    flex-wrap: wrap;
    top: 0;
    height: 61px;
    }

}

.nav1 {
    grid-area: nav1;
    position: sticky;

}

.nav2 {
    grid-area: nav2;
    position: sticky;
    top: 61px;

    @media(min-width:717px) {
        top: 0px;
    }
}



.hijonav2 {
    @include flexbox (flex, row, center, center);
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    /*elimino prop del cdn de bootstrap */

    li{
        list-style-type: none;
        border-right: 0.5px solid #fffefd;
        padding: 2px 2% 2px 2%;
    }

    .ultimoItem{
        border-right: none;
    }

}

/* Barra de bootstrap */

.nav3 {
    grid-area: nav3;
    background-color: $AzulDrean !important; 
    position: sticky;
    top: 0px; //sin esta linea no funciona el sticky no se por que.
    // height: 61px;
    padding: 0px;
    /* 992px ultimo pixel antes hamb */
    @media(min-width:992px) {
        display: none;
    }
}



.reseta{
    padding: 0 0 0 7.2%;
    margin: 0px;
}

.borde1st{
    border-top: solid 0.25px #fdffff;
}
.colora{
    color:#fdffff !important;
    text-align: center;
    border-bottom: solid 0.25px #fdffff;
}

.borderLast{
    border-bottom:none;
    padding-bottom: 10px;
}



/* ----------- "pre footer" seccion Garantia  ----------- */

.garantia {
    background-color: $GrisGarantia;
    padding: 0 4% 0 5%;
    grid-area: garantia;
}

.garantia--L {
    @include flexbox(flex, row, start, center);
    grid-area: garantia1;
    padding: 0 0 0 5%;
}

.garantia--C {
    padding-left: 2%;
}

.garantia--R {
    grid-area: garantia2;
    display: flex;
    justify-content: center;
    padding-right: 5%;

    @media(min-width:480px) {
        justify-content: end;
    }
}

.garantia--h2 {
    color: $AzulGarantia;
    font-size: 1.7rem;
    font-weight: bold;
}

.garantia--p {
    color: $AzulGarantia;
    font-size: 1rem;
}



/* ----------- FOOTER ----------- */


footer {
    @include flexbox(flex, column, space-between, center);
    background-color: $AzulDrean;
    flex-wrap: wrap;
    padding: 0 2% 0 2%;
    grid-area: footer;

    @media(min-width:371px) {
        @include flexbox (flex, row, space-between, center);
        background-color: $AzulDrean;
        flex-wrap: wrap;
        height: 65.8px;
        padding: 0 2% 0 2%;
        grid-area: footer;
    }


}

.footerL {
    display: flex;
    padding-left: 10px;
}

.footerL__contactoFooter {
    padding: 2px;
}

.pFooter {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #fffefd;

    @media(min-width:410px) {
        font-size: small;
    }
}

.footerR {
    display: flex;
    align-items: center;
}


/* pequeña animacion para las redes */

.red1 {
    padding: 5px;
    &:hover{
        animation: tremble 3s;
        transform: scale(1.2);
        transition: width heigh 3s;    
    }
}

.red2 {
    @extend .red1;
}

.red3 {
    @extend .red1;
}




@keyframes tremble {
    12.5% {
        transform: rotate(-30deg)
    }

    37.5% {
        transform: rotate(30deg)
    }

}


/* ----------- Grilla GENERAL (body) ---------- */

main {
    padding: 0;
    grid-area: main;
}

.gridIndex {
    display: grid;
    grid-template-areas:
        "header"
        "nav3"
        "main"
        "garantia1"
        "garantia2"
        "footer";

    /* Acomodo el preefooter */

    @media(min-width:480px) {
        grid-template-areas:
            "header header header"
            "nav3 nav3 nav3"
            "main main main"
            "garantia1 garantia1 garantia2"
            "footer footer footer";
    }

    /* Acomodo la NavBar en una fila */

    @media(min-width:717px) {
        grid-template-areas:
            "header header header"
            "nav3 nav3 nav3"
            "main main main"
            "garantia1 garantia1 garantia2"
            "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  auto auto auto auto auto;
    }

    /* cambio la nav bar a la original*/

    @media(min-width:992px) {
        grid-template-areas:
            "header header header"
            "nav1 nav2 nav2"
            "main main main"
            "garantia1 garantia1 garantia2"
            "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  auto auto auto auto auto;
    }

}




