@charset "UTF-8";
/* COLORES */
/* Redondeo Imagenes */
/* Practicamente lo dejo por lo academico, para aplicar una operacion *2 en el html de nosotros */
/* Utilizo un mixin para combinar varias lineas que utilizo mucho cuando defino un contenedor flexbox */
/* Estilos Secciones HTMLS */
/* ----------- ESTILOS INDEX HTML ----------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300&display=swap");
.fondoMainIndex {
  background-image: url("../images/fondo-lavarropas-ajustado.png");
  background-repeat: no-repeat;
  background-color: #e3e3e3;
  background-size: cover;
}

.primeraSeccion {
  display: grid;
  grid-template: "title" auto "lista" 1fr "boton" 2fr;
  place-items: center center;
}
@media (min-width: 803px) {
  .primeraSeccion {
    grid-template: "title" auto "lista" auto "boton" auto;
    gap: 10px 15px;
    margin: 0 15% 0 15%;
  }
}

.h1Main {
  grid-area: title;
  font-size: 1.5rem;
}
@media (min-width: 556px) {
  .h1Main {
    font-size: 2.5rem;
  }
}

.primeraSeccion__div {
  grid-area: lista;
  margin-left: 8%;
}

.primeraSeccion__div__lista {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  align-self: center;
}
.primeraSeccion__div__lista li {
  list-style-type: circle;
  border: none;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-bottom: 2%;
}
@media (min-width: 410px) {
  .primeraSeccion__div__lista {
    font-size: 20px;
  }
}
@media (min-width: 500px) {
  .primeraSeccion__div__lista {
    font-size: 25px;
  }
}

.primeraSeccion__div__form {
  border: solid 0.25px #53585e;
  border-radius: 20px;
  padding: 25px;
  grid-area: boton;
  margin: 20px 0 20px 0;
  width: 85vw;
}
@media (min-width: 803px) {
  .primeraSeccion__div__form {
    width: 100%;
  }
}

.formtitle {
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 556px) {
  .formtitle {
    font-size: 1.875rem;
  }
}

.emph {
  color: red;
}

.labelForm {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #53585e;
  font-weight: bold;
  align-self: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.botonForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #025bac;
  border-color: #025bac;
}

.imgBotonForm {
  padding-left: 10px;
}

/* ----------- ESTILOS CONTACTO HTML ----------- */
.mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0 50px 0;
  margin: 30px 7.5% 30px 7.5%;
}
@media (min-width: 1400px) {
  .mainContacto {
    flex-direction: row;
    align-items: flex-start;
  }
}

.seccionContacto--L {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  border: solid #53585e;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 50px;
  background-image: url(../images/telefono-contacto-opacity.png);
}

.divContacto {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 250px;
}
@media (min-width: 500px) {
  .divContacto {
    width: 468.8px;
  }
}

.h1Contacto {
  font-family: "Roboto", sans-serif;
  color: #53585e;
  font-size: 1.875rem;
  border: none;
  padding: 0;
  margin: 0;
}

.textContacto {
  text-align: center;
}

.seccionContacto--R {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.h3dir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
  padding: 0 0 2px 0;
  border-width: 1px;
  width: 250px;
  text-align: center;
}
@media (min-width: 500px) {
  .h3dir {
    width: 400px;
  }
}
@media (min-width: 717px) {
  .h3dir {
    width: 650px;
  }
}

.gmaps {
  width: 250px;
  height: 250px;
  margin: 10px 0 0 0;
}
@media (min-width: 500px) {
  .gmaps {
    width: 400px;
    height: 260px;
  }
}
@media (min-width: 717px) {
  .gmaps {
    width: 650px;
    height: 378px;
  }
}

/* ----------- REFERENCIAS HTML ----------- */
/* 
NOTAS:
En este punto incluí un grid system en una section con fines academicos, para aplicarlo en algun punto del proyecto. */
.mainReferencias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e3e3e3;
  margin: 30px 7.5% 30px 7.5%;
  border-radius: 10px;
}
@media (min-width: 900px) {
  .mainReferencias {
    background-image: url(../images/fondo-reseñas-opacity-3.png);
    background-size: cover;
  }
}

.refTitle {
  width: 95%;
}

.h1Referencias {
  text-align: center;
  border-bottom: 0.5px solid #53585e;
  color: #53585e;
  padding: 1.5%;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 8px 0;
}
@media (min-width: 605px) {
  .h1Referencias {
    font-size: 1.875rem;
  }
}

.refContainer {
  padding-bottom: 30px;
}

.col {
  flex: 0 0 0%;
  /* piso propiedad del CDN de bootstrap no deseada */
}

.anchorImg, .imgReseñas {
  border: 0.5px solid black;
  border-radius: 15px;
  padding: 0px 0px -1px 0px;
}

.imgReseñas {
  margin: 10px;
  padding: 0px;
  width: 200px;
}
@media (min-width: 410px) {
  .imgReseñas {
    width: 300px;
  }
}
@media (min-width: 500px) {
  .imgReseñas {
    width: 350px;
  }
}
@media (min-width: 1225px) {
  .imgReseñas {
    width: 475px;
  }
}

/* ----------- NOSOTROS HTML ----------- */
.mainNosotros {
  margin: 30px 7.5% 30px 7.5%;
  padding: 0 10px 0 10px;
}

.nosotros {
  display: grid;
  grid-template-areas: "taller" "nosotros1" "nosotros2" "lvropa";
  place-items: center center;
  width: 100%;
}
@media (min-width: 1400px) {
  .nosotros {
    grid-template-areas: "taller nosotros1" "nosotros2 lvropa";
  }
}

.imgNosotros1 {
  grid-area: taller;
  border-radius: 20px;
  width: 73vw;
}
@media (min-width: 650px) {
  .imgNosotros1 {
    width: 479px;
  }
}

.nosotros--R {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  grid-area: nosotros1;
  width: auto;
  padding: 5% 1% 5% 1%;
}
@media (min-width: 717px) {
  .nosotros--R {
    height: 350px;
    width: 578px;
    padding: 1%;
  }
}

.h2Nosotros {
  text-align: center;
}

.pNosotros {
  padding: 10px 0 0 0;
  text-align: center;
  line-height: 25px;
}

.nosotros2--L {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  grid-area: nosotros2;
  width: auto;
  padding-top: 30px;
}
@media (min-width: 717px) {
  .nosotros2--L {
    height: 300px;
    width: 559px;
    padding: 1%;
  }
}

.mision {
  border-bottom: 0.5px solid #53585e;
  padding: 0 0 2.5% 0;
}

.vision {
  padding: 2.5% 0 0 0;
}

.imgNosotros2 {
  grid-area: lvropa;
  width: 73vw;
  border-radius: 20px;
  padding: 8% 0 4% 0;
}
@media (min-width: 650px) {
  .imgNosotros2 {
    width: 407px;
  }
}

/* ----------- REPARACIONES HTML ----------- */
.mainReparaciones {
  margin: 30px 7.5% 30px 7.5%;
  padding: 0 10px 0 10px;
}

.grid {
  display: grid;
  grid-template-areas: "fila1" "reparacion1" "reparacion2" "reparacion3";
  grid-row: 50px 50px 50px 50px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.fila1 {
  grid-area: fila1;
  width: auto;
}
@media (min-width: 480px) {
  .fila1 {
    width: 40vw;
  }
}
@media (min-width: 950px) {
  .fila1 {
    grid-area: fila1;
    width: 40vw;
  }
}

.reparacion1, .reparacion3, .reparacion2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: reparacion1;
  border: 0.5px solid #53585e;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding-bottom: 15px;
  overflow: hidden;
}
.reparacion1:hover .img1, .reparacion1:hover .img3, .reparacion1:hover .img2, .reparacion3:hover .img1, .reparacion3:hover .img3, .reparacion3:hover .img2, .reparacion2:hover .img1, .reparacion2:hover .img3, .reparacion2:hover .img2 {
  transform: scale(1.5);
}
@media (min-width: 410px) {
  .reparacion1, .reparacion3, .reparacion2 {
    padding: 0;
  }
}
@media (min-width: 950px) {
  .reparacion1, .reparacion3, .reparacion2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
  }
}

.reparacion2 {
  grid-area: reparacion2;
}
.reparacion2:hover .img2 {
  transform: scale(1.5);
}

.reparacion3 {
  grid-area: reparacion3;
}
.reparacion3:hover .img3 {
  transform: scale(1.5);
}

.articleReparaciones {
  width: auto;
  padding: 15px 0 15px 0;
}
@media (min-width: 410px) {
  .articleReparaciones {
    width: 30vw;
  }
}
@media (min-width: 950px) {
  .articleReparaciones {
    padding: 0 2vw 0 2vw;
  }
}

.imagenRep {
  border-radius: 10px;
  justify-self: end;
  width: 200px;
}
@media (min-width: 410px) {
  .imagenRep {
    width: 350px;
  }
}
@media (min-width: 650px) {
  .imagenRep {
    width: auto;
  }
}

.img1, .img3, .img2 {
  transition: all 3s;
  z-index: -1;
}

.titleCenterRep {
  text-align: center;
  padding-bottom: 4px;
}

.h1Rep {
  font-size: 1.5rem;
  border: none;
  padding: 0 0 4px 0;
  margin: 0;
}
@media (min-width: 480px) {
  .h1Rep {
    font-size: 1.875rem;
  }
}

.pReparaciones {
  text-align: center;
  font-size: 15px;
}
@media (min-width: 410px) {
  .pReparaciones {
    font-size: 17px;
  }
}
@media (min-width: 650px) {
  .pReparaciones {
    font-size: 1.25rem;
  }
}

/* Importo las fuentes con las que se va a trabajar en el proyecto */
/* Este archivo .SCSS contiene estilos generales aplicados a todos los html */
/* ----------- MEDIA QUERIES -----------  */
/* El objetivo fue que el sitio sea completamente responsive, en todos sus html a partir de un ancho de ventana de 300px */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdffff;
  line-height: normal;
  /*piso propiedad del CDN de bootstrap no deseada*/
}

/* ----------- TEXTO ----------- */
a {
  text-decoration: none;
  color: #fffefd;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
a:hover {
  color: #ade8f4;
  text-decoration: underline;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #53585e;
  padding: 30px;
  border-bottom: 1px solid #53585e;
  margin: 0 5% 10px 5%;
}

h2, p, h3 {
  font-family: "Roboto", sans-serif;
  color: #53585e;
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5625rem;
}

p {
  font-size: 1.25rem;
  margin: 0;
}

/* ----------- HEADER ----------- */
header {
  background-color: black;
  display: flex;
  justify-content: center;
  grid-area: header;
}

.pHeader {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 7px;
  margin: 0;
  height: 8px;
}

/* ----------- NAV BAR ----------- */
nav {
  background-color: #025bac;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  flex-wrap: wrap;
  top: 0;
  height: 61px;
}

.nav1 {
  grid-area: nav1;
  position: -webkit-sticky;
  position: sticky;
}

.nav2 {
  grid-area: nav2;
  position: -webkit-sticky;
  position: sticky;
  top: 61px;
}
@media (min-width: 717px) {
  .nav2 {
    top: 0px;
  }
}

.hijonav2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  /*elimino prop del cdn de bootstrap */
}
.hijonav2 li {
  list-style-type: none;
  border-right: 0.5px solid #fffefd;
  padding: 2px 2% 2px 2%;
}
.hijonav2 .ultimoItem {
  border-right: none;
}

/* ----------- "pre footer" seccion Garantia  ----------- */
.garantia {
  background-color: #e3e3e3;
  padding: 0 4% 0 5%;
  grid-area: garantia;
}

.garantia--L {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  grid-area: garantia1;
  padding: 0 0 0 5%;
}

.garantia--C {
  padding-left: 2%;
}

.garantia--R {
  grid-area: garantia2;
  display: flex;
  justify-content: center;
  padding-right: 5%;
}
@media (min-width: 480px) {
  .garantia--R {
    justify-content: end;
  }
}

.garantia--h2 {
  color: #002857;
  font-size: 1.7rem;
  font-weight: bold;
}

.garantia--p {
  color: #002857;
  font-size: 1rem;
}

/* ----------- FOOTER ----------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #025bac;
  flex-wrap: wrap;
  padding: 0 2% 0 2%;
  grid-area: footer;
}
@media (min-width: 371px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #025bac;
    flex-wrap: wrap;
    height: 65.8px;
    padding: 0 2% 0 2%;
    grid-area: footer;
  }
}

.footerL {
  display: flex;
  padding-left: 10px;
}

.footerL__contactoFooter {
  padding: 2px;
}

.pFooter {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #fffefd;
}
@media (min-width: 410px) {
  .pFooter {
    font-size: small;
  }
}

.footerR {
  display: flex;
  align-items: center;
}

/* pequeña animacion para las redes */
.red1, .red3, .red2 {
  padding: 5px;
}
.red1:hover, .red3:hover, .red2:hover {
  -webkit-animation: tremble 3s;
          animation: tremble 3s;
  transform: scale(1.2);
  transition: width heigh 3s;
}

@-webkit-keyframes tremble {
  12.5% {
    transform: rotate(-30deg);
  }
  37.5% {
    transform: rotate(30deg);
  }
}

@keyframes tremble {
  12.5% {
    transform: rotate(-30deg);
  }
  37.5% {
    transform: rotate(30deg);
  }
}
/* ----------- Grilla GENERAL (body) ---------- */
main {
  padding: 0;
  grid-area: main;
}

.gridIndex {
  display: grid;
  grid-template-areas: "header" "nav1" "nav2" "main" "garantia1" "garantia2" "footer";
  /* Acomodo el preefooter */
  /* Acomodo la NavBar en una fila */
}
@media (min-width: 480px) {
  .gridIndex {
    grid-template-areas: "header header header" "nav1 nav1 nav1" "nav2 nav2 nav2" "main main main" "garantia1 garantia1 garantia2" "footer footer footer";
  }
}
@media (min-width: 717px) {
  .gridIndex {
    grid-template-areas: "header header header" "nav1 nav2 nav2" "main main main" "garantia1 garantia1 garantia2" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
  }
}/*# sourceMappingURL=style.css.map */